<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AcademyofITSpecialists.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="AcademyofITSpecialistsEntities" connectionString="metadata=res://*/Model.AcademyOfITSpecialists.csdl|res://*/Model.AcademyOfITSpecialists.ssdl|res://*/Model.AcademyOfITSpecialists.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-0KV4DIDT\SQLEXPRESS;initial catalog=AcademyofITSpecialists;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <AcademyofITSpecialists.Properties.Settings>
      <setting name="LoginValue" serializeAs="String">
        <value />
      </setting>
      <setting name="PasswordValue" serializeAs="String">
        <value />
      </setting>
    </AcademyofITSpecialists.Properties.Settings>
  </userSettings>
</configuration>